<!DOCTYPE html>
<html>
    <head>
        <title>Creaciòn de cursos</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Creaciòn de cursos</h1>
            <form action="/CrearCursos" method="POST">
                <table>
                    <tr>
                        <td><label>Id</label></td>
                        <td><input type="number" name="id"></td>
                    </tr>
                    <tr>
                        <td><label>Nombre</label></td>
                        <td><input type="text" name="nombre"></td>
                    </tr>
                    <tr>
                        <td><label>Descripcion</label></td>
                        <td><input type="text" name="descripcion"></td>
                    </tr>
                    <tr>
                        <td><label>Valor</label></td>
                        <td><input type="number" name="valor"></td>
                    </tr>
                    <tr>
                        <td><label>Modalidad</label></td>
                        <td><select name="modalidad">
                            <option value="Virtual">Virtual</option>
                            <option value="Presencial">Presencial</option>
                        </select></td>
                    </tr>
                    <tr><td colspan="2"><button>Ingresar</button></td></tr>
                </table>

                <label>{{CrearCurso id nombre descripcion valor modalidad}}</label>
            </form>
            {{{Listar}}}
        </header>
    </body>
</html>