<!DOCTYPE html>
<html>
    <head>
        <title>Creaciòn de cursos</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Creaciòn de cursos</h1>
            <form action="/cursos" method="POST">
                <table>
                    <tr>
                        <td><label>Id</label></td>
                        <td><input type="number" name="Id"></td>
                    </tr>
                    <tr>
                        <td><label>Nombre</label></td>
                        <td><input type="text" name="Nombre"></td>
                    </tr>
                    <tr>
                        <td><label>Descripcion</label></td>
                        <td><input type="text" name="Descripcion"></td>
                    </tr>
                    <tr>
                        <td><label>Valor</label></td>
                        <td><input type="number" name="valor"></td>
                    </tr>
                    <tr><td colspan="2"><button>Ingresar</button></td></tr>
                </table>
            </form> 
        </header>
    </body>
</html>